.div-inf-senha{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 0.625rem;
    background: linear-gradient(180deg, rgba(255, 254, 252, 0.55) 0.02%, rgba(251, 251, 251, 0.55) 128.22%), linear-gradient(181deg, rgba(255, 255, 255, 0.65) -39.57%, rgba(255, 255, 255, 0.00) 99.45%);
    box-shadow: 0px 4px 51px 0px rgba(0, 0, 0, 0.25) inset;
    filter: blur(0px);
    backdrop-filter: blur(26px);
}

.card-senha h1{
    margin:3rem
}

.botao-senha{
    font-weight: bold;
    background: #F5BD1F;
    border-radius: 5px;
    margin:3rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 0.8em;
    font-size: 1.2em;
    width: 33vw;
}

.botao-senha:hover{
    transition: 0.5s;
    background: #fff823;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #F5BD1F;
}