.container-addservicos{
    text-decoration: none;
}

.foto-corte{
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
}

.botao-adicionar{
    text-decoration: none;
    margin-top: 1.5rem;
}

.botao-adicionar h1{
    text-decoration: none;
    font-size: 1.5rem;
}