.card-servico1{
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 0.2rem;
    background: linear-gradient(180deg, rgba(255, 254, 252, 0.65) 0.02%, rgba(251, 251, 251, 0.65) 128.22%), linear-gradient(181deg, rgba(255, 255, 255, 0.65) -39.57%, rgba(255, 255, 255, 0.00) 99.45%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    backdrop-filter: blur(26px);
}